@import url(reset.css);
@font-face {
    font-family: "Norse";
    src: url(Norse-Bold.otf);
}
body{
    display: flex;
}
em{
    font-style: italic;
}
aside{
    width: 30%;
    background-image: url(fjords.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative; 
    box-sizing: border-box;
}
.bar{
    position: absolute;
    top:30%;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    opacity: 100%;
    text-align: center;
    height: 20%;
    padding: 3% 0;
    box-sizing: border-box;
    
}
.bar img{
    height: 100%;
}
#odinTxt{position: relative;
    bottom: 10%;
    color: white;
    font-family: "Norse";
    font-size: 12rem;
}
main{
    background-color: whitesmoke;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8% 11% 3% 6%;
}
.quote{
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.3em;
    
}
.quote::after{
    content: "You know you want to.";
    position: relative;
    top: 2rem;
}